@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fraunces:opsz,wght@9..144,200;9..144,300;9..144,400;9..144,500;9..144,600;9..144,700&family=Josefin+Sans:wght@400;600;700&family=Montserrat:wght@100;200;300;400;500;600;700&family=Orbitron:wght@400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100&family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500&family=Roboto:wght@100;300;400;500&family=Sofia+Sans+Extra+Condensed:ital,wght@0,1;0,100;0,200;0,300;0,400;1,1;1,100;1,200;1,300;1,400&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #000;
  background-image: linear-gradient( 120deg, black, #0f0f0e );
  background-attachment: fixed;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100%;
  display: grid;
  grid-template-columns:1fr 1fr 1fr;
  grid-template-rows: 7%  84% 9%;
  grid-template-areas: "navbar navbar navbar"                     
                      "main main main"
                      "footer footer footer";
  overflow-x: hidden;               
}

p{
  text-decoration: none;
  color: #f8dc6b;
  font-family: 'Sofia Sans Extra Condensed', sans-serif;
  font-size: 26px;
  font-weight: 100;
  letter-spacing: 0.1em;
}

a{
  text-decoration: none;
  color: #f8dc6b;
  font-family: 'Sofia Sans Extra Condensed', sans-serif;
  letter-spacing: 0.1em;
}

.navbar nav{
  position: relative;
  width: 40vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar{
  grid-area: navbar;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 75px;
}

.navbar nav a{
  color: #fbd951;
  font-family: 'Sofia Sans Extra Condensed', sans-serif;
  font-size: 26px;
  font-weight: 300;
  text-shadow: 0 0 10px #bb6400be;
}

.navbar nav a:hover{
  text-shadow: 0 0 20px #fbd951; 
}

main{
  position: relative;
  grid-area: main;
  text-align: center;
  width: 100vw;
  height: auto;
  margin-top: 24px;
  margin-bottom: 20px;
  background-color: #000000;
  background-image: url(../img/Jan_Weckmueller_dark_background_wallpaper_golden_forex_trabec1-ebd975140035.png);
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0 0 20px #000;
}

.post {
  position: relative;
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 40px;
  padding-left: 13%;
}

.post div{
  position: relative;
  width: 280px;
  height: 200px;
  background: #fbd83f3e;
  box-shadow: 0 0 10px #68560c;
  text-align: center;
  
}

footer{
  position: relative;
  grid-area: footer;
  display: flex;
  width: 100vw;
  height: 150px;
  justify-content: space-evenly;
  align-items: center;
  
}

footer a{
  text-decoration: none;
  color: #f8dc6b;
  font-family: 'Sofia Sans Extra Condensed', sans-serif;
  font-size: 26px;
  font-weight: 100;
  letter-spacing: 0.1em;
}

h2{
  color: #f8dc6b;
  font-family: 'Sofia Sans Extra Condensed', sans-serif;
  letter-spacing: 0.1em;
  font-weight: 100;
}

#apresentacao{
  text-align: end;
  font-size: 12px;
}

#contato{
  display: flex;
  justify-content: space-around;
  width: 40%;
  font-size: 10px;
  text-shadow: 0 0 10px #826b04;
}

@media screen and (max-width: 800px){

  body{
    height: auto;
    display: flex;
    flex-direction: column;
  }
  header{
    background-image: none;
  }

  main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: none;
  }

  .post{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 40px;
  }

  nav{
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 10px;
  }
  .navMobile{
    position: relative;
    display: flex;
    align-items: center;
    width: 100vw;
    height: 40px;
  }

  footer{
    display: flex;
    flex-direction: column;
    height: 300px;
  }

  #contato{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 20px 0 0 20px;
  }

  #contato a{
    width: 100vw;
    margin-bottom: 20px;
  }
  

}