@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fraunces:opsz,wght@9..144,200;9..144,300;9..144,400;9..144,500;9..144,600;9..144,700&family=Josefin+Sans:wght@400;600;700&family=Montserrat:wght@100;200;300;400;500;600;700&family=Orbitron:wght@400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100&family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500&family=Roboto:wght@100;300;400;500&family=Sofia+Sans+Extra+Condensed:ital,wght@0,1;0,100;0,200;0,300;0,400;1,1;1,100;1,200;1,300;1,400&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #000;
  background-image: linear-gradient( 45deg, black, #292824 );
  background-attachment: fixed;
  background-repeat: no-repeat;
  width: 100vw;
  height: auto;
  display: grid;
  grid-template-columns:1fr 1fr 1fr;
  grid-template-rows: 7% 75% 15%;
  grid-template-areas: "navbar navbar navbar"
                      "main main main"
                      "footer footer footer";
  overflow-x: hidden;
}

p{
  text-decoration: none;
  color: #ece0b4;
  font-family: 'Sofia Sans Extra Condensed', sans-serif;
  font-size: 1.8em;
  font-weight: 200;
  letter-spacing: 0.1em;
  line-height: 1.4em;
}

a{
  text-decoration: none;
  color: #fbd951;
}

h1{
  color: #f8dc6b;
  font-family: 'Sofia Sans Extra Condensed', sans-serif;
  font-weight: 400;
  letter-spacing: 0.1em;
  margin: 20px 0 10px 10px;
  
}

.navbar nav{
  width: 40vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar{
  grid-area: navbar;
  display: flex;
  align-items:center ;
  justify-content: center;
  height: 75px;
  width: 100vw;
}

.navbar nav a{
  color: #fbd951;
  font-family: 'Sofia Sans Extra Condensed', sans-serif;
  font-size: 26px;
  font-weight: 300;
  text-shadow: 0 0 10px #bb6400be;
}

.navbar nav a:hover{
  text-shadow: 0 0 20px #fbd951; 
}

main{
  width: 98vw;
  margin-top: -4px;
  box-shadow: 0 0 50px #000;
}

.container{
  background-image: linear-gradient( 45deg, black, #292824 );
  display: grid;
  width: 90vw;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 70vh;
}

.leftimg img{
  border-radius: 50px 0 0 50px;
  padding-left: 20px;
  width: 100%;
}

.righttext{
  text-align: left;
  text-indent: 20px;
  margin-left: 20px;
}

.righttext > p{
  margin-bottom: 20px;
}

.conteinerdois{
  text-align: center;
  margin-top: 40px;
}

.certimg{
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 20px;
}

.certimg img{
  width: 20%;
}

.aprendizado{
  background: #826b04;
}

#pagew3{
  width: 180px;
}

footer{
  grid-area: footer;
  display: flex;
  width: 100vw;
  height: auto;
  justify-content: space-evenly;
  align-items: center;
  
}

footer a{
  text-decoration: none;
  color: #f8dc6b;
  font-family: 'Sofia Sans Extra Condensed', sans-serif;
  font-size: 26px;
  font-weight: 100;
  letter-spacing: 0.1em;
}

h2{
  color: #f8dc6b;
  font-family: 'Sofia Sans Extra Condensed', sans-serif;
  letter-spacing: 0.1em;
  font-weight: 100;
}

#apresentacao{
  text-align: end;
  font-size: 12px;
}

#contato{
  display: flex;
  justify-content: space-around;
  width: 40%;
  font-size: 10px;
  text-shadow: 0 0 10px #826b04;
}