@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fraunces:opsz,wght@9..144,200;9..144,300;9..144,400;9..144,500;9..144,600;9..144,700&family=Josefin+Sans:wght@400;600;700&family=Montserrat:wght@100;200;300;400;500;600;700&family=Orbitron:wght@400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100&family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500&family=Roboto:wght@100;300;400;500&family=Sofia+Sans+Extra+Condensed:ital,wght@0,1;0,100;0,200;0,300;0,400;1,1;1,100;1,200;1,300;1,400&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #000;
  background-image: linear-gradient( 45deg, black, #292824 );
  background-attachment: fixed;
  background-repeat: no-repeat;
  width: 100vw;
  height: auto;
  max-width: 1440px;
  display: grid;
  grid-template-columns:1fr 1fr 1fr;
  grid-template-rows: 7% 45% 7% 30% 18%;
  grid-template-areas: "navbar navbar navbar"
                      "header header header"
                      "btn btn btn"
                      "main main main"
                      "footer footer footer";
  overflow-x: hidden;
  margin: auto;
}

a{
  text-decoration: none;
  color: #f8dc6b;
  text-decoration: none;
  letter-spacing: 0.1em;
}

.navbar nav{
  position: relative;
  width: 40vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar{
  grid-area: navbar;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar nav a{
  color: #fbd951;
  font-family: 'Sofia Sans Extra Condensed', sans-serif;
  font-size: 26px;
  font-weight: 300;
  text-shadow: 0 0 10px #bb6400be;
}

.navbar nav a:hover{
  text-shadow: 0 0 20px #fbd951; 
}

header{
  grid-area: header;
  position: relative;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  background-color: #000000;
  background-image: url(img/31233790-EB55-4F54-ACDB-BA315B27AEDD.JPEG);
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0 0 50px #000;
}

.cardheader{
  position: relative;
  width: 240px;
  height: 330px;
  margin: 80px 0 40px 40px ;
  box-shadow: 10px 0px 50px #96550074;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #fae90067;
  border-right: 1px solid #fae90067;
  transform: translate(-50%, 40%);
}

.card {
  position: relative;
  width: 100%;
  height: auto;
  padding-top: 10px;
  text-align: center;
  opacity: 0;
  transition: 0.8s;
  z-index: 2;
}

.cardheader .card:hover{
  opacity: 1;
}

#name{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2.2em;
  letter-spacing: 0.1em;
  background: -webkit-linear-gradient(top, #736015 10%, #d2b544, #fbf3d4 );
  background: linear-gradient(to top, #736015  10%, #d2b544,#fbf3d4 );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

p#sobrenome{
  text-decoration: none;
  color: #f8dc6b;
  font-family: 'Sofia Sans Extra Condensed', sans-serif;
  font-size: 30px;
  font-weight: 100;
  text-shadow: 0 0 10px #d2b544;
}

#more{
  color: #000000;
  font-family: 'Roboto Flex', sem serifa;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 0 0 4px #fff;
  background-image: linear-gradient( 18deg, #826b04 50%, #f6d244);
  padding: 8px 20px ;
  border-radius: 6px;
}

.logo{
  margin-left: 22%;
}

p{
  text-decoration: none;
  color: #f8dc6b;
  font-family: 'Sofia Sans Extra Condensed', sans-serif;
  font-size: 26px;
  font-weight: 100;
  letter-spacing: 0.1em;
}

#pcard{
  color: #fff;
  margin-bottom: 20px;
}

.textheader{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.8em;
  letter-spacing: 0.1em;
  background: -webkit-linear-gradient(top, #736015 10%, #d2b544, #fbf3d4 );
  background: linear-gradient(to top, #736015  10%, #d2b544,#fbf3d4 );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#pheader{
  position: relative;
  max-width: 350px;
  margin-top: 15px;
  text-decoration: none;
  color: #fff;
  font-family: 'Roboto Flex', sans-serif;
  font-size: 1em;
  font-weight: 100;
  text-align: left;
}

.menuMobile{
  width: 200px;
  border: none;
  margin: 20px;
}

.menuMobile:hover{
  box-shadow: none;
  transform: scale(1.4);
}

span{
  width: 100px;
  height: 32px;
}

.btnheader{
  grid-area: btn;
  display: flex;
  justify-content: center;
  align-items: center;
}

button{
  transition: 0.2s;
}

button:hover{
  transform: scale(0.9);
  box-shadow: 0 0 20px #68560c;
}

button{
  width: 200px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.2em;
  padding: 10px 20px;
  border: 4px solid#dabf56;
  border-radius: 6px;
  background: -webkit-linear-gradient(top, #736015 10%, #d2b544, #fbf3d4 );
  background: linear-gradient(to top, #736015  10%, #d2b544,#fbf3d4 );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}

main{
  grid-area: main;
  margin-top: 20px;
  width: 98vw;
  height: auto;
  margin-top: 40px;
}

.imgmain{
  position: relative;
  display: flex;
  justify-content: space-around;
  width: 98vw;
  box-shadow: 0 0 50px #000;
  padding: 40px 0 40px 0;
  margin-right: -40px;
}

main > div img{
  width: 220px;
  border: 1px solid #736015 ;
  transition: 0.5s;
}

main > div img:hover{
  transform: scale(1.3);
  box-shadow: 0px 0px 50px #e48b1673;
}

footer{
  grid-area: footer;
  display: flex;
  width: 100vw;
  height: 150px;
  justify-content: space-evenly;
  align-items: center;
  
}

footer a{
  text-decoration: none;
  color: #f8dc6b;
  font-family: 'Sofia Sans Extra Condensed', sans-serif;
  font-size: 26px;
  font-weight: 100;
  letter-spacing: 0.1em;
}

h2{
  color: #f8dc6b;
  font-family: 'Sofia Sans Extra Condensed', sans-serif;
  letter-spacing: 0.1em;
  font-weight: 100;
}

#apresentacao{
  text-align: end;
  font-size: 12px;
}

#contato{
  display: flex;
  justify-content: space-around;
  width: 40%;
  font-size: 10px;
  text-shadow: 0 0 10px #826b04;
}

@media screen and (max-width: 800px){
  body{
    height: auto;
    display: flex;
    flex-direction: column;
  }
  header{
    background-image: none;
  }

  main{
  height: auto;
  }

  nav{
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 10px;
  }
  .navMobile{
    position: relative;
    display: flex;
    align-items: center;
    width: 100vw;
    height: 40px;
  }

  .navMobile span{
    color: #fff;
  }

  #divmenu{
    display: block;
    color: #fff;
    background: #292824;
  }

  #pheader{
    text-align: left;
    margin-right: 50px;

  }
  .cardheader{
    display: none;
  }
   
  .imgmain{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
  }

  main > div img{
    width: 180px;
    border: 1px solid #736015 ;
    transition: 0.5s;
    margin-bottom: 20px;
  }

  footer{
    display: flex;
    flex-direction: column;
  }

  #contato{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 20px 0 0 20px;
  }

  #contato a{
    width: 100vw;
    margin-bottom: 20px;
  }
  

}

@media screen and (min-width: 860px){
  .navMobile{
    display: none;
  }
}


